@model StatusModel

@if (!String.IsNullOrEmpty(Model.StatusMessage))
{
    var statusMessageClass = Model.IsError ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.StatusMessage
    </div>
}