@{
    ViewData["Title"] = "Home";
}
@if(User.IsInRole("Doctor") || User.IsInRole("Admin"))
    {
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Карточки пациентов</h5>
                <a class="btn btn-primary" asp-controller="Doctor" asp-action="Cards">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Расписание</h5>
                <a class="btn btn-primary" asp-controller="Doctor" asp-action="Cards">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Статистика</h5>
                <a class="btn btn-primary" asp-controller="Doctor" asp-action="Cards">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Отчеты</h5>
                <a class="btn btn-primary" asp-controller="Doctor" asp-action="Cards">Перейти</a>
            </div>
        </div>
    </div>
</div>
}
@if (User.IsInRole("Pacient") || User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Запись на прием</h5>
                    <a class="btn btn-primary" asp-controller="Doctor" asp-action="Cards">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Личная карта</h5>
                    <a class="btn btn-primary" asp-controller="Doctor" asp-action="Cards">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Рекоммендации</h5>
                    <a class="btn btn-primary" asp-controller="Doctor" asp-action="Cards">Перейти</a>
                </div>
            </div>
        </div>
    </div>
}
