@model SpecialitiesViewModel

@{ 
    ViewData["Title"] = "Доктора";
}
<h3 class="mb-1 text-center">Выберите специальность</h3>
<div class="py-5">
    <div class="container">
        <div class="row">
            @foreach(var card in Model.Specialities)
            {
                <div class="col-md-4">
                    <div class="card mb-1">
                        <div class="card-body">
                            <h4 class="card-title">@card.Name</h4>
                            <p class="card-text">@card.Description</p>
                            <a class="stretched-link" asp-action="DoctorList" asp-route-specId="@card.Id"></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>