@{
    ViewData["Title"] = "Услуги";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Вакцинации</h5>
                <a class="btn btn-primary stretched-link" asp-controller="Services" asp-action="Vaccinations">Перейти</a>
            </div>
        </div>
    </div>
</div>